<div class="header">
	<img class="img-responsive" src="/assets/workspace.jpg" />

	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<h1 class="header-caption">Engage Your Customers</h1>
				<p class="header-caption">The Flutter Merchant App allows you to create offerings, track inventory, and get useful analytics to grow your business.</p>
				<button type="button" class="btn btn-lg"> Get Started </button>
			</div>
			</div class="col-md-4"></div>
		</div>
	</div>
</div> <!-- end of header div -->

<div class="info-section">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<img class="img-responsive center-block" src="/assets/text-file.png">
				<h1 class="text-center">Apply</h1>
				<p class="text-center">Simply fill out our application so we can get to know your business better.</p>
			</div>
			
			<div class="col-md-4">
				<img class="img-responsive center-block" src="/assets/gift.png">
				<h1 class="text-center">Create</h1>
				<p class="text-center">Upload your amazing offerings to show to the world.</p>
			</div>
			
			<div class="col-md-4">
				<img class="img-responsive center-block" src="/assets/rocket.png">
				<h1 class="text-center">Relax</h1>
				<p class="text-center">Sit back as you watch your sales skyrocket.</p>
			</div>
		</div>
	</div>
</div> <!-- end of how it works div -->

<div class="summary">
	<div class="container">
		<div class="row">
			<div class="col-md-7">
				<h1>What We Do</h1>
				<p>We at Flutter seek to grow your business by attracting a younger crowd in your locale, using our recommendation-based algorithm. Through our simple dashboard you can upload various offerings, engage your customers directly, and obtain useful analytics about your customer base.</p>
			</div>
			<div class="col-md-5"></div>
		</div>
	</div>
</div> <!-- end of Why Us div -->

<!-- add another div here: a row with three evenly sized boxes. Each box has a picture of some fun/outdoorsy emotion, with a bold caption overlayed on top of it to convey the meaning in one word -->
<div class="emotion">
	<div class="container">
		<div class="row">
			<div class="col-md-4 first">
				
				<h1 class="text-center">Create</h1>
			</div>
			<div class="col-md-4 second">
				
				<h1 class="text-center">Engage</h1>
			</div>
			<div class="col-md-4 third">
				
				<h1 class="text-center">Track</h1>
			</div>
		</div>
	</div>
</div>

<div class="call-to-action">
	<div class="container">
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6">
				<h1 class="text-center">What are you waiting for?</h1>
				<button type="button" class="btn btn-lg center-block"> Sign up </button>
			</div>
			<div class="col-md-3"></div>
		</div>
	</div>
</div>

