<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for applying!</h1>
    <p>One of our representatives will review your application and contact you with a decision within 24 hours.</p>
  </body>
</html>