/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap.min
 *= require_self
 *= require_tree .
 */

 * {
	font-family: sans-serif;
}

$lightblue: rgb(13, 201, 247);

/* styling for first section */

.header {
	width: 100%;
	height: 700px;
	/* height: 95vh; */
	position: relative;
	img {
		width: 100%;
		position: absolute;
		background-position: center;
		background-repeat: no-repeat;
		overflow: hidden;
		height: 100%;
	}

	h1 {
		font-weight: 600;
		font-size: 70px;
	}

	p {
		margin-top: 20px;
		font-size: 30px;
	}

	.row {
		margin-top: 15%;
	}

	.btn {
		background-color: $lightblue;
		color: white;
		margin-top: 15px;
		font-size: 24px;
	}
	
}

.header-caption {
	font-family: 'Lato', 'sans-serif';
	
}

/* styling for second section */

.info-section {
	position: relative;
	width: 100%;
	height: 500px;
	/*background-color: #F1F1F1;*/
	background-color: #FDFDFD;

	h1 {
		font-family: 'Lato', 'sans-serif';
		font-weight: 600;
		margin-top: 25px;
	}

	p {
		font-size: 25px;
	}

	img {
		width: 165px;
	}

	.row {
		margin-top: 10%;
	}

	overflow: hidden; /* fix this issue -- images vertically stacked longer than the
						 surrounding section */
}

/* some styling for the navbar */

.navbar {
    border-radius: 0px;
    padding: 10px;
    padding-top: 12px;
    padding-bottom: 8px;
    background-color: rgba(13, 201, 247, 0.9);

    -webkit-box-shadow: 0 8px 6px -6px #999;
       -moz-box-shadow: 0 8px 6px -6px #999;
            box-shadow: 0 8px 6px -6px #999;
    border: transparent;
    margin-bottom: 0px;
}

.navbar-brand,
.navbar-nav li a {

    height: 50px;
    padding: 10px;
    font-family: 'Lato', sans-serif;

}

.navbar-brand {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 30px;
}

.navbar-nav li a {
    font-size: 15px;
}

/* Some styling for the navbar */

footer {
    background: #797979;
    color: white;
    font-size: 12px;
    padding: 20px;
}

footer a {
    color: white;
}


ul.unstyled {
    list-style:none;
    padding: 0;
}

/* styling for why us section */

.summary {
	position: relative;
	width: 100%;
	background-color: #f05b47;

	h1 {
		font-family: 'Lato', 'sans-serif';
		font-weight: 600;
		color: white;
	}

	p {
		margin-top: 20px;
		font-size: 25px;
		color: white;
	}

	.row {
		margin-top: 8%;
		margin-bottom: 8%;
	}
}

/* styling for call to action section */

.call-to-action {
	position: relative;
	width: 100%;
	height: 200px;
	background-color: #b6e56e;

	h1 {
		font-family: 'Lato', 'sans-serif';
		font-weight: 600;
		color: white;
	}

	.btn {
		background-color: white;
		color: #b6e56e;
		font-size: 24px;
		margin-top: 20px;
	}

	.row {
		margin-top: 2%;
	}
}


/* styling for emotion section */
.emotion {
	width: 100%;
	height: 300px;
	position: relative;

	.container {
		width: 100%;
	}

	img {
		width: 100%;
		height: 300px; /* this height shouldn't be set like this */
		margin: 0;
	}

	h1 {
		font-family: 'Lato', 'sans-serif';
		font-weight: 600;
		color: white;
		font-size: 50px;
		margin-top: 25%;
		margin-bottom: 5%;
	}

	.col-md-4 {
		padding: 0;
		height: 300px;
		margin: 0;
	}

	.first {
		background-image: url('/assets/write.jpg');
		background-position: center;
		background-repeat: no-repeat;
		overflow: hidden;
		padding: 0;
		margin: 0;
		background-size: cover;
	}

	.second {
		background-image: url('/assets/balloon.jpg');
		background-position: center;
		background-repeat: no-repeat;
		overflow: hidden;
		padding: 0;
		margin: 0;
		background-size: cover;
	}

	.third {
		background-image: url('/assets/laptop.jpg');
		background-position: center;
		background-repeat: no-repeat;
		overflow: hidden;
		padding: 0;
		margin: 0;
		background-size: cover;
	}
	
	.row {
		margin-bottom: 0px;
	}

	overflow: hidden; /* how to fix this issue? combined height of images exceeds
						 length of div */
}





