/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap.min
 *= require_self
 *= require_tree .
 *= require bootstrap-datetimepicker
 */

 * {
	font-family: sans-serif;
}

h1,h2,h3,h4 {
	font-family: 'Lato', 'sans-serif';
}

$lightblue: rgb(13, 201, 247);

/* styling for first section */

.header {
	width: 100%;
	height: 700px;
	/* height: 95vh; */
	position: relative;
	img {
		width: 100%;
		position: absolute;
		background-position: center;
		background-repeat: no-repeat;
		overflow: hidden;
		height: 100%;
	}

	h1 {
		font-weight: 600;
		font-size: 70px;
	}

	p {
		margin-top: 20px;
		font-size: 30px;
	}

	.row {
		margin-top: 15%;
	}

	.btn {
		background-color: $lightblue;
		color: white;
		margin-top: 15px;
		font-size: 24px;
	}

	a:hover {
		text-decoration: none;
	}
	
}

.header-caption {
	font-family: 'Lato', 'sans-serif';
	
}

/* styling for second section */

.info-section {
	position: relative;
	width: 100%;
	/*height: 500px;*/
	/*background-color: #F1F1F1;*/
	background-color: #FDFDFD;

	h1 {
		font-family: 'Lato', 'sans-serif';
		font-weight: 600;
		margin-top: 25px;
	}

	p {
		font-size: 25px;
	}

	img {
		width: 165px;
	}

	.row {
		margin-top: 4%;
		margin-bottom: 4%;
	}

	.three-step {
		margin-bottom: 6%;
		font-size: 45px;
	}

	overflow: hidden; /* fix this issue -- images vertically stacked longer than the
						 surrounding section */
}

/* some styling for the navbar */

.abhas-navbar {
	.navbar {
	    border-radius: 0px;
	    padding: 10px;
	    padding-top: 12px;
	    padding-bottom: 8px;
	    background-color: rgba(13, 201, 247, 0.9);

	    -webkit-box-shadow: 0 8px 6px -6px #999;
	       -moz-box-shadow: 0 8px 6px -6px #999;
	            box-shadow: 0 8px 6px -6px #999;
	    border: transparent;
	    margin-bottom: 0px;
	}

	.navbar-brand,
	.navbar-nav li a {

	    height: 50px;
	    padding: 10px;
	    font-family: 'Lato', sans-serif;

	}

	.navbar-brand {
	    font-family: 'Lato', sans-serif;
	    font-weight: 600;
	    font-size: 30px;
	}

	.navbar-nav li a {
	    font-size: 15px;
	}

	.navbar-nav {
		a:hover { 
	  		color: #276496 !important;
		}
	}
}
/* Some styling for the footer */

footer {
    background: #797979;
    color: white;
    font-size: 12px;
    padding: 20px;
}

footer a {
    color: white;
}


ul.unstyled {
    list-style:none;
    padding: 0;
}

/* styling for why us section */

.summary {
	position: relative;
	width: 100%;
	background-color: #f05b47;

	h1 {
		font-family: 'Lato', 'sans-serif';
		font-weight: 600;
		color: white;
	}

	p {
		margin-top: 20px;
		font-size: 25px;
		color: white;
	}

	.row {
		margin-top: 8%;
		margin-bottom: 8%;
	}
}

/* styling for call to action section */

.call-to-action {
	position: relative;
	width: 100%;
	height: 200px;
	background-color: #b6e56e;

	h1 {
		font-family: 'Lato', 'sans-serif';
		font-weight: 600;
		color: white;
	}

	.btn {
		background-color: white;
		color: #b6e56e;
		font-size: 24px;
		margin-top: 20px;
	}

	.row {
		margin-top: 2%;
	}

	a:hover {
		text-decoration: none;
	}
}


/* styling for emotion section */
.emotion {
	width: 100%;
	/*height: 300px;*/
	position: relative;

	.container {
		width: 100%;
	}

	img {
		width: 100%;
		height: 300px; /* this is not necessary -- height auto adjusts based on width */
		margin: 0;
	}

	h1 {
		font-family: 'Lato', 'sans-serif';
		font-weight: 600;
		color: white;
		font-size: 50px;
		margin-top: 25%;
		margin-bottom: 5%;
	}

	.col-md-4 {
		padding: 0;
		height: 300px;
		margin: 0;
	}

	.first {
		background-image: url('/assets/write.jpg');
		background-position: center;
		background-repeat: no-repeat;
		overflow: hidden;
		padding: 0;
		margin: 0;
		background-size: cover;
	}

	.second {
		background-image: url('/assets/balloon.jpg');
		background-position: center;
		background-repeat: no-repeat;
		overflow: hidden;
		padding: 0;
		margin: 0;
		background-size: cover;
	}

	.third {
		background-image: url('/assets/laptop.jpg');
		background-position: center;
		background-repeat: no-repeat;
		overflow: hidden;
		padding: 0;
		margin: 0;
		background-size: cover;
	}
	
	.row {
		margin-bottom: 0px;
	}

	overflow: hidden; /* how to fix this issue? combined height of images exceeds
						 length of div */
}

/* styling for merchant application form */

.merchant-application {
	margin-top: 12%;
	margin-bottom: 7%;
}

/* this contains the bulk of the main form */
.outer-form {

	-webkit-box-shadow: 0 8px 6px -6px #999;
       -moz-box-shadow: 0 8px 6px -6px #999;
            box-shadow: 0 8px 6px -6px #999;
    border: transparent;
	border-radius: 5px 5px 5px 5px;
	background-color: #fff;
	padding: 0;
	margin-top: 50px;
}

.inner-form {
	margin: 10%;
}

.application {
	background-image: url('/assets/desk.jpg');
	background-position: center;
	background-repeat: no-repeat;
	overflow: hidden;
	padding: 0;
	margin: 0;
	background-size: cover;
	font-family: 'Lato', 'sans-serif';
}

.form-banner {
	height: 60px;
	background-color: #f05b47;
	width: 100%;
	border: transparent;
	border-radius: 5px 5px 0px 0px;

}

.submit-button {
	width: 100%;
	margin-top: 10px;
	background-color: #ed1c24;
	color: white;
	font-weight: 400;
	margin-bottom: 30px;
	padding: 10px;
}

.form-header {
	color: #797979;
	font-weight: 600;
	margin-bottom: 7%;
}

.accent {
	color: #ed1c24;
	margin: 0;
	padding: 0;
	display: inline-block; 
}

.form-group {
	margin-bottom: 20px;
}

.overlay-bg {
	background-size: cover;
	background-color: rgba(0, 0, 0, 0.3);;
}

.error-msg {
	color: #ed1c24;
}

.thanks {
	h1 {
		font-family: 'Lato';
		font-weight: 600;
		font-size: 50px;
		line-height: 1.4;
	}

	#thanks-msg {
		margin-top: 4%;
	}

	p {
		font-family: 'Lato';
		font-weight: 300;
		font-size: 25px;
	}
	.row {
		margin-top: 10%;
		margin-bottom: 5%;
	}

	#home-link {
		a {color: #f05b47;}
		margin-top: 4%;
	}
}

.get-started {
	color: inherit;
	text-decoration: none;
}

/* some stying for the log in page */

.remember-me {
	margin-left: 1%;
}

.rememberable {
	margin-top: 4%;
}

.merchant-links {
	text-align: center;
}

.log-in-page {
	background-color: #f3f3f3;
	padding: 0;
	margin: 0;
	background-size: cover;
	font-family: 'Lato', 'sans-serif';
}

.outer-login-form {
	-webkit-box-shadow: 0 8px 6px -6px #999;
       -moz-box-shadow: 0 8px 6px -6px #999;
            box-shadow: 0 8px 6px -6px #999;
    border: 1px solid lightgray;
	border-radius: 5px 5px 5px 5px;
	background-color: #fff;
	padding: 0;
	margin-top: 50px;
}

/* some navbar styling */
.sign-up-link {
	height: 40px;
	padding: 0px 5px 1px 5px;
	background-color: white;
}

.sign-up {
	color: rgba(13, 201, 247, 0.9) !important;
}

.sign-out-link {
	a {
		color: white !important;
	}
}

#new_merchant {
	margin-top: 5%;
	margin-bottom: 7%;
}

#page-wrapper {
	h1, h2, h3, h4 {
		font-family: 'Lato', 'sans-serif';
	}

	overflow: hidden;
}

.merchant-icon {
	margin-bottom: 4%;
}

.merchant-info {
	display: inline-block;
	margin-left: 2%;
}

.admin-navbar {
	background-color: #f05b47;
}

.sidebar {
	background-color: #f8f8f8
}

.navbar-top-links {
	a {
		color: white;
	}
}

.admin-brand {
	color: white !important;
	font-family: 'Lato', 'sans-serif';
	font-weight: 600;
}

.add-merchant {
	margin-left: 13%;
}

.merchant-description {
	margin-top: 3%;
	margin-left: 2%;
}

.destroy-merchant {
	margin-top: 2%;
	margin-left: 2%;
}

.merchant-modal-btn {
	margin-left: 30%;
	margin-right: 4%;
}

.modal-btn {
	margin-top: 3%;
	width: 100px;
	margin-bottom: 3%;
}

.logout-link {
	display: inline-block;
}

/* styling for the merchant navbar */
.merchant-navbar {
	background-color: #f05b47;
}

.merchant-brand {
	color: white !important;
	font-family: 'Lato', 'sans-serif';
}


.btn-green {
	background-color: #8BC34A;
	color: white;
	margin-left: 0;
	margin-top: 20px;
	border-radius: 3px;
}

/* styling for progress bar */

.bs-wizard {margin-top: 40px;}

/*Form Wizard*/
.bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-size: 16px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #fbe8aa; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;} 
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #fbbd19; border-radius: 50px; position: absolute; top: 8px; left: 8px; } 
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #fbe8aa;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #f5f5f5;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }

.bs-wizard { width: 950px; }

/* end styling for progress bar */

/* styling for multistep offering upload form */
.offering-form-row {
	margin-top: 4%;
	margin-bottom: 14%;
}

.offering-form-col {
	
}

/* styling for the scheduling step */

.booking-title {
	margin-bottom: 4%;
}


.calendar1 {

	margin-top: 4%;
	display: none; /* initially invisible */

	.start-date {
		margin-bottom: 13px;
	}

	.end-date {
		margin-top: 13px;
	}

	td.day.active {
		background-color: #FBBD19;
	}

	td.active:hover {
		background-color: lightgray !important;
	}

	a.btn {
		color: #FBBD19;
	}

	.btn-primary {
		background-color: #FBBD19;
		border-color: #FBBD19;
	}
}

.days-selector {
	.week {
		margin-top: 13px;
	}

	display:none;
}

/* styling for booking step */

.booking-step1 {
	margin-top: 15px;
}

/* enable absolute positioning */
.inner-addon {
  position: relative;
}

/* style glyph */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align glyph */
.left-addon .glyphicon  { left:  0px;}

/* style font-awesome */
.inner-addon .fa {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align font-awesome */
.left-addon .fa  { left:  0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }

.price-info {
	display: none;

	.slider-handle {
		background-color: #FBBD19;
		background-image: -webkit-linear-gradient(top, #FBBD19 0%, #FBBD19 100%);
	}

	#ex6SliderVal {
		margin-left: 20px !important;
	}
}

/* styling for the offering cards on main dahsboard page */

.lib-panel {
    margin-bottom: 20Px;
}
.lib-panel img {
    width: 100%;
    background-color: transparent;
}

.lib-panel .row,
.lib-panel .col-md-6 {
    padding: 0;
    background-color: #FFFFFF;
}


.lib-panel .lib-row {
    padding: 0 20px 0 20px;
}

.lib-panel .lib-row.lib-header {
    background-color: #FFFFFF;
    font-size: 20px;
    padding: 10px 20px 0 20px;
}

.lib-panel .lib-row.lib-header .lib-header-seperator {
    height: 2px;
    width: 26px;
    background-color: #d9d9d9;
    margin: 7px 0 7px 0;
}

.lib-panel .lib-row.lib-desc {
    position: relative;
    height: 100%;
    display: block;
    font-size: 13px;
}
.lib-panel .lib-row.lib-desc a{
    position: absolute;
    width: 100%;
    bottom: 10px;
    left: 20px;
}

.row-margin-bottom {
    margin-bottom: 20px;
}

.box-shadow {
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
    box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
}

.no-padding {
    padding: 0;
}

.lib-panel {
	margin-top: 30px !important;
	margin-left: 30px !important;
}

.lib-panel img {
    width: 100%;
    background-color: transparent;
    height: 250px;
}

/* styling for form templates */

.card {
  padding-top: 20px;
  margin: 10px 0 20px 0;
  background-color: #ffffff;
  border: 1px solid #d8d8d8;
  border-top-width: 0;
  border-bottom-width: 2px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


.card.hovercard {
  position: relative;
  width: 300px;
  padding-top: 0;
  overflow: hidden;
  background-color: #fff;
}

.card.hovercard img {
  width: 300px;
  height: 200px;
}

.card.hovercard .avatar {
  position: relative;
  top: -40px;
  margin-bottom: -40px;
}

.card.hovercard .avatar img {
  width: 80px;
  height: 80px;
  max-width: 80px;
  max-height: 80px;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
}

.card.hovercard .info {
  padding: 4px 8px 10px;
}

.card.hovercard .info .title {

  margin-top: 10px;
  margin-bottom: 12px;
  font-size: 24px;
  line-height: 1;
  color: #262626;
  vertical-align: middle;
}

.card.hovercard .info .desc {
  overflow: hidden;
  font-size: 14px;
  line-height: 20px;
  color: #737373;
  text-overflow: ellipsis;
}

.card.hovercard .bottom {
  padding: 0 20px;
  margin-bottom: 17px;
}

.card.people .card-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  padding: 10px 20px;
  line-height: 29px;
  text-align: center;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.check-mark {
	color: #8BC34A;
}

.form-templates {
	margin-top: 5%;
}

.create-button {
	margin-top: 15px;
}

.offering-hr {
	margin-top: 5px;
	margin-bottom: 20px;
	width: 35px;
	height: 3px;
	background-color: black;
}

.title {
	font-family: 'Lato';
	font-weight: 700;
}

/* styling for scheduling step */

.weekdays {
	margin-bottom: 30px;
}

.day {
	margin-bottom: 6%;
	display: none;

	.glyphicon-chevron-up {
		color: #FBBD19;
	}

	.glyphicon-chevron-down {
		color: #FBBD19;
	}

	.btn-primary {
		background-color: #FBBD19;
		border-color: #FBBD19;
	}
}

/* styling for loading gif */
.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('/assets/loader2.gif') 50% 50% no-repeat rgb(249,249,249);
}