/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap.min
 *= require_self
 *= require_tree .
 */

 * {
	font-family: sans-serif;
}

$lightblue: rgb(13, 201, 247);

/* styling for first section */

.header {
	width: 100%;
	height: 700px;
	/* height: 95vh; */
	position: relative;
	img {
		width: 100%;
		position: absolute;
		background-position: center;
		background-repeat: no-repeat;
		overflow: hidden;
		height: 100%;
	}

	h1 {
		font-weight: 600;
		font-size: 70px;
	}

	p {
		margin-top: 20px;
		font-size: 30px;
	}

	.row {
		margin-top: 15%;
	}

	.btn {
		background-color: $lightblue;
		color: white;
		margin-top: 15px;
		font-size: 24px;
	}

	a:hover {
		text-decoration: none;
	}
	
}

.header-caption {
	font-family: 'Lato', 'sans-serif';
	
}

/* styling for second section */

.info-section {
	position: relative;
	width: 100%;
	/*height: 500px;*/
	/*background-color: #F1F1F1;*/
	background-color: #FDFDFD;

	h1 {
		font-family: 'Lato', 'sans-serif';
		font-weight: 600;
		margin-top: 25px;
	}

	p {
		font-size: 25px;
	}

	img {
		width: 165px;
	}

	.row {
		margin-top: 4%;
		margin-bottom: 4%;
	}

	.three-step {
		margin-bottom: 6%;
		font-size: 45px;
	}

	overflow: hidden; /* fix this issue -- images vertically stacked longer than the
						 surrounding section */
}

/* some styling for the navbar */

.abhas-navbar {
	.navbar {
	    border-radius: 0px;
	    padding: 10px;
	    padding-top: 12px;
	    padding-bottom: 8px;
	    background-color: rgba(13, 201, 247, 0.9);

	    -webkit-box-shadow: 0 8px 6px -6px #999;
	       -moz-box-shadow: 0 8px 6px -6px #999;
	            box-shadow: 0 8px 6px -6px #999;
	    border: transparent;
	    margin-bottom: 0px;
	}

	.navbar-brand,
	.navbar-nav li a {

	    height: 50px;
	    padding: 10px;
	    font-family: 'Lato', sans-serif;

	}

	.navbar-brand {
	    font-family: 'Lato', sans-serif;
	    font-weight: 600;
	    font-size: 30px;
	}

	.navbar-nav li a {
	    font-size: 15px;
	}

	.navbar-nav {
		a:hover { 
	  		color: #276496 !important;
		}
	}
}
/* Some styling for the footer */

footer {
    background: #797979;
    color: white;
    font-size: 12px;
    padding: 20px;
}

footer a {
    color: white;
}


ul.unstyled {
    list-style:none;
    padding: 0;
}

/* styling for why us section */

.summary {
	position: relative;
	width: 100%;
	background-color: #f05b47;

	h1 {
		font-family: 'Lato', 'sans-serif';
		font-weight: 600;
		color: white;
	}

	p {
		margin-top: 20px;
		font-size: 25px;
		color: white;
	}

	.row {
		margin-top: 8%;
		margin-bottom: 8%;
	}
}

/* styling for call to action section */

.call-to-action {
	position: relative;
	width: 100%;
	height: 200px;
	background-color: #b6e56e;

	h1 {
		font-family: 'Lato', 'sans-serif';
		font-weight: 600;
		color: white;
	}

	.btn {
		background-color: white;
		color: #b6e56e;
		font-size: 24px;
		margin-top: 20px;
	}

	.row {
		margin-top: 2%;
	}

	a:hover {
		text-decoration: none;
	}
}


/* styling for emotion section */
.emotion {
	width: 100%;
	/*height: 300px;*/
	position: relative;

	.container {
		width: 100%;
	}

	img {
		width: 100%;
		height: 300px; /* this is not necessary -- height auto adjusts based on width */
		margin: 0;
	}

	h1 {
		font-family: 'Lato', 'sans-serif';
		font-weight: 600;
		color: white;
		font-size: 50px;
		margin-top: 25%;
		margin-bottom: 5%;
	}

	.col-md-4 {
		padding: 0;
		height: 300px;
		margin: 0;
	}

	.first {
		background-image: url('/assets/write.jpg');
		background-position: center;
		background-repeat: no-repeat;
		overflow: hidden;
		padding: 0;
		margin: 0;
		background-size: cover;
	}

	.second {
		background-image: url('/assets/balloon.jpg');
		background-position: center;
		background-repeat: no-repeat;
		overflow: hidden;
		padding: 0;
		margin: 0;
		background-size: cover;
	}

	.third {
		background-image: url('/assets/laptop.jpg');
		background-position: center;
		background-repeat: no-repeat;
		overflow: hidden;
		padding: 0;
		margin: 0;
		background-size: cover;
	}
	
	.row {
		margin-bottom: 0px;
	}

	overflow: hidden; /* how to fix this issue? combined height of images exceeds
						 length of div */
}

/* styling for merchant application form */

.merchant-application {
	margin-top: 12%;
	margin-bottom: 7%;
}

/* this contains the bulk of the main form */
.outer-form {

	-webkit-box-shadow: 0 8px 6px -6px #999;
       -moz-box-shadow: 0 8px 6px -6px #999;
            box-shadow: 0 8px 6px -6px #999;
    border: transparent;
	border-radius: 5px 5px 5px 5px;
	background-color: #fff;
	padding: 0;
	margin-top: 50px;
}

.inner-form {
	margin: 10%;
}

.application {
	background-image: url('/assets/desk.jpg');
	background-position: center;
	background-repeat: no-repeat;
	overflow: hidden;
	padding: 0;
	margin: 0;
	background-size: cover;
	font-family: 'Lato', 'sans-serif';
}

.form-banner {
	height: 60px;
	background-color: #f05b47;
	width: 100%;
	border: transparent;
	border-radius: 5px 5px 0px 0px;

}

.submit-button {
	width: 100%;
	margin-top: 10px;
	background-color: #ed1c24;
	color: white;
	font-weight: 400;
	margin-bottom: 30px;
	padding: 10px;
}

.form-header {
	color: #797979;
	font-weight: 600;
	margin-bottom: 7%;
}

.accent {
	color: #ed1c24;
	margin: 0;
	padding: 0;
	display: inline-block; 
}

.form-group {
	margin-bottom: 20px;
}

.overlay-bg {
	background-size: cover;
	background-color: rgba(0, 0, 0, 0.3);;
}

.error-msg {
	color: #ed1c24;
}

.thanks {
	h1 {
		font-family: 'Lato';
		font-weight: 600;
		font-size: 50px;
		line-height: 1.4;
	}

	#thanks-msg {
		margin-top: 4%;
	}

	p {
		font-family: 'Lato';
		font-weight: 300;
		font-size: 25px;
	}
	.row {
		margin-top: 10%;
		margin-bottom: 5%;
	}

	#home-link {
		a {color: #f05b47;}
		margin-top: 4%;
	}
}

.get-started {
	color: inherit;
	text-decoration: none;
}

/* some stying for the log in page */

.remember-me {
	margin-left: 1%;
}

.rememberable {
	margin-top: 4%;
}

.merchant-links {
	text-align: center;
}

.log-in-page {
	background-color: #f3f3f3;
	padding: 0;
	margin: 0;
	background-size: cover;
	font-family: 'Lato', 'sans-serif';
}

.outer-login-form {
	-webkit-box-shadow: 0 8px 6px -6px #999;
       -moz-box-shadow: 0 8px 6px -6px #999;
            box-shadow: 0 8px 6px -6px #999;
    border: 1px solid lightgray;
	border-radius: 5px 5px 5px 5px;
	background-color: #fff;
	padding: 0;
	margin-top: 50px;
}

/* some navbar styling */
.sign-up-link {
	height: 40px;
	padding: 0px 5px 1px 5px;
	background-color: white;
}

.sign-up {
	color: rgba(13, 201, 247, 0.9) !important;
}

.sign-out-link {
	a {
		color: white !important;
	}
}

#new_merchant {
	margin-top: 5%;
	margin-bottom: 7%;
}

#page-wrapper {
	h1, h2, h3, h4 {
		font-family: 'Lato', 'sans-serif';
	}

	overflow: hidden;
}

.merchant-icon {
	margin-bottom: 4%;
}

.merchant-info {
	display: inline-block;
	margin-left: 2%;
}

.admin-navbar {
	background-color: #f05b47;
}

.sidebar {
	background-color: #f8f8f8
}

.navbar-top-links {
	a {
		color: white;
	}
}

.admin-brand {
	color: white !important;
	font-family: 'Lato', 'sans-serif';
}

.add-merchant {
	margin-left: 13%;
}

